{% extends "layout.html" %}
{% block content %}
    <h2 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h2> <!--전체 page 게시물 수-->
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='img/' + post.author.image_file )}}" alt="profile image">
            <div class="media-body">
                <div class="article-metadata">
                    <span class="mr-2">{{ post.author.username }}</span>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h4><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h4>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
        {% if page %}
            {% if page == posts.page %}
                <a class="btn btn-info mb-4" href="{{ url_for('users.user_posts', page=page, username=user.username) }}">{{ page }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', page=page, username=user.username) }}">{{ page }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}